<!--
  ~ This Project is under the MIT License.
  ~ Public repository: github.com/NilsSchlegel08/Spring-UtilityApi
  ~ Hosted: utils.nilsschlegel.me
  -->

<!--
  ~ This Project is under the MIT License.
  ~ Public repository: github.com/NilsSchlegel08/Spring-UtilityApi
  ~ Hosted: utils.nilsschlegel.me
  -->

<!--
  ~ This Project is under the MIT License.
  ~ Public repository: github.com/NilsSchlegel08/Spring-UtilityApi
  ~ Hosted: utils.nilsschlegel.me
  -->

<!--
  ~ This Project is under the MIT License.
  ~ Public repository: github.com/NilsSchlegel08/Spring-UtilityApi
  ~ Hosted: utils.nilsschlegel.me
  -->

<!DOCTYPE html>
<html lang="en">
<head>
        <title>404 Not Found</title>
      <meta name="color-scheme" content="light dark">
      <meta charset="utf-8">
</head>
<body>
<pre>{
  "message": "Not Found",
  "documentation_url": "https://github.com/NilsSchlegel08/Spring-UtilityApi"
}</pre>
<div class="json-formatter-container"></div>
</body>
</html>